---
http_interactions:
- request:
    method: get
    uri: https://ifsc.results.info/api/v1/events/1515
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"851411d605357a346dfecd2ed6ae7732"
    body:
      encoding: ASCII-8BIT
      string: '{"id":1515,"name":"World Climbing Asia Championship Meishan 2026","type":"classic","league_id":4,"rounds":[{"id":2854,"name":"Qualification"},{"id":2855,"name":"Qualification"},{"id":2856,"name":"Qualification"},{"id":2896,"name":"Semi-Final"},{"id":2895,"name":"Final"},{"id":2897,"name":"Final"}],"league_season_id":459,"season_id":38,"starts_at":"2026-04-07
        16:00:00 UTC","ends_at":"2026-04-12 15:59:00 UTC","local_start_date":"2026-04-08","local_end_date":"2026-04-12","timezone":{"value":"Asia/Shanghai"},"location":"Meishan,
        China","registration_url":"/api/v1/events/1515/registrations","public_information":{"organiser_name":null,"organiser_url":null,"venue_name":null,"description":null},"cup_name":"","country":"CHN","registration_deadline":"2026-03-24T00:00:00.000Z","registration_opens_at":"2025-04-08T00:00:00.000Z","removal_deadline":"2026-03-04T00:00:00.000Z","athlete_self_registration":false,"team_official_self_registration":false,"event_logo":null,"series_logo":null,"cover":null,"infosheet_url":"https://ifsc.results.info/events/1515/infosheet","additional_info_url":null,"is_paraclimbing_event":false,"self_judged":false,"d_cats":[{"dcat_id":185,"event_id":1515,"dcat_name":"LEAD
        Men","discipline_kind":"lead","category_id":7080,"category_name":"Men","status":"registration_pending","status_as_of":"2025-12-16
        14:34:10 UTC","ranking_as_of":"NA","category_rounds":[{"category_round_id":10572,"kind":"lead","name":"Qualification","category":"Men","schedule":null,"status":"pending","status_as_of":"2025-12-16
        14:34:10 UTC","result_url":"/api/v1/category_rounds/10572/results","starting_groups":[],"combined_stages":[],"round":{"league_round_id":10},"format":"IFSC:
        2 routes","routes":[{"id":18443,"name":"1","startlist":"/api/v1/routes/18443/startlist","ranking":"/api/v1/routes/18443/results"},{"id":18444,"name":"2","startlist":"/api/v1/routes/18444/startlist","ranking":"/api/v1/routes/18444/results"}]}],"full_results_url":"/api/v1/events/1515/result/185","top_3_results":null},{"dcat_id":189,"event_id":1515,"dcat_name":"LEAD
        Women","discipline_kind":"lead","category_id":7081,"category_name":"Women","status":"registration_pending","status_as_of":"2025-12-16
        14:34:10 UTC","ranking_as_of":"NA","category_rounds":[{"category_round_id":10573,"kind":"lead","name":"Qualification","category":"Women","schedule":null,"status":"pending","status_as_of":"2025-12-16
        14:34:10 UTC","result_url":"/api/v1/category_rounds/10573/results","starting_groups":[],[...]
