---
http_interactions:
- request:
    method: get
    uri: https://ifsc.results.info/api/v1/events/1515/registrations
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9d5559fe2627c8f8418baefa4d61d4f6"
    body:
      encoding: ASCII-8BIT
      string: '[{"athlete_id":3679,"firstname":"Jarrell","lastname":"SOH JIT KAI","name":"SOH
        JIT KAI Jarrell","gender":0,"federation":"SSCMF","federation_id":51,"country":"SGP","d_cats":[{"id":185,"name":"LEAD
        Men"}]},{"athlete_id":3665,"firstname":"Luke","lastname":"GOH WEN BIN","name":"GOH
        WEN BIN Luke","gender":0,"federation":"SSCMF","federation_id":51,"country":"SGP","d_cats":[{"id":185,"name":"LEAD
        Men"},{"id":187,"name":"BOULDER Men"}]},{"athlete_id":14719,"firstname":"Yong
        Kang","lastname":"DYLAN SEOW","name":"DYLAN SEOW Yong Kang","gender":0,"federation":"SSCMF","federation_id":51,"country":"SGP","d_cats":[{"id":185,"name":"LEAD
        Men"},{"[...]
