---
http_interactions:
- request:
    method: get
    uri: https://usac.results.info/api/v1/live
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ae624cc523afb13fce7e6819f1a09868"
    body:
      encoding: ASCII-8BIT
      string: '{"live":[{"category_round_id":11422,"event_name":"2026 National Team
        Trials","event_id":448,"event_location":"Beaverton","local_start_date":"2026-03-04","starts_at":"2026-03-04T08:00:00.000Z","local_end_date":"2026-03-08","ends_at":"2026-03-09T06:59:00.000Z","category":"Men/Open","discipline_kind":"boulder","round_name":"Round
        3","timezone":{"value":"America/Los_Angeles"}},{"category_round_id":11423,"event_name":"2026
        National Team Trials","event_id":448,"event_location":"Beaverton","local_start_date":"2026-03-04","starts_at":"2026-03-04T08:00:00.000Z","local_end_date":"2026-03-08","ends_at":"2026-03-09T06:59:00.000Z","category":"Women","discipline_kind":"boulder","round_name":"Round
        3","timezone":{"value":"America/Los_Angeles"}}]}'
  recorded_at: Mon, 09 Mar 2026 01:19:33 GMT
recorded_with: VCR 6.4.0
